<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Usuario</ion-label>
    <ion-input placeholder="Digite el usuario" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input placeholder="Digite la contraseña" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click) = "iniciarSesion() ">
    <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Iniciar sesión
  </ion-button>

</ion-content>

