<ion-content fullscreen>
    
  
  <ion-slides pager="true">

      <ion-slide>
        <img src="assets/imagen2.png"/>
          <h2>Bienvenido</h2>
          <p>A la aplicación<b> RoomieApp</b> ,para ayudarte en tu comodidad y aprendizaje</p>

      </ion-slide>

      <ion-slide>
        <img src="assets/imagen1.png"/>
        <h2>Esta aplicación</h2>
        <p><b>Te permitirá consultar o promover</b> los apartamentos disponibles cerca de ti.</p>
        <ion-button expand="block" color="dark" (click)="VamosAlAvance()">¡Allá vamos!</ion-button>
      </ion-slide>

    </ion-slides>

</ion-content>
